# Example `mixmasta` usage

In [1]:
import pandas as pd
from mixmasta import mixmasta as mix

Geotiff to CSV:

In [2]:
df = mix.raster2df('chirps-v2.0.2021.01.3.tif', feature_name='rainfall', band=1, date='5/4/2010')

In [3]:
df.head()

   longitude  latitude  rainfall      date
0    -79.525    23.475  2.136781  5/4/2010
1    -79.475    23.475  1.977196  5/4/2010
2    -76.125    23.475  1.031077  5/4/2010
3    -76.075    23.475  1.336039  5/4/2010
4    -76.025    23.475  1.422843  5/4/2010

NetCDF to CSV:

In [4]:
df2 = mix.netcdf2df('tos_O1_2001-2002.nc')

In [5]:
df2.head()

,bnds,lat,lon,time,lon_bnds,lat_bnds,time_bnds,tos
0,0,-79.5,1.0,2001-01-16 00:00:00,-0.0,-80.0,2001-01-01 00:00:00,NaN
1,0,-79.5,1.0,2001-02-16 00:00:00,-0.0,-80.0,2001-02-01 00:00:00,NaN
2,0,-79.5,1.0,2001-03-16 00:00:00,-0.0,-80.0,2001-03-01 00:00:00,NaN
3,0,-79.5,1.0,2001-04-16 00:00:00,-0.0,-80.0,2001-04-01 00:00:00,NaN
4,0,-79.5,1.0,2001-05-16 00:00:00,-0.0,-80.0,2001-05-01 00:00:00,NaN

Geocoding a dataframe:

_You must run `mixmasta download` prior to geocoding_

In [6]:
df_g = mix.geocode('admin2', df, x='longitude', y='latitude')

In [7]:
df_g.tail()

,longitude,latitude,rainfall,date,country,state,admin1,admin2
70737,-57.274999,6.025,73.374107,5/4/2010,Guyana,East Berbice-Corentyne,East Berbice-Corentyne,Black Bush Polder land Development Scheme
70738,-57.224999,6.025,75.888969,5/4/2010,Guyana,East Berbice-Corentyne,East Berbice-Corentyne,Corentyne River
70739,-57.174999,6.025,74.806396,5/4/2010,Guyana,East Berbice-Corentyne,East Berbice-Corentyne,No.74 Village / No.52 Village
70740,-57.124999,6.025,64.794189,5/4/2010,NaN,NaN,NaN,NaN
70741,-57.024999,6.025,67.061554,5/4/2010,NaN,NaN,NaN,NaN

## Normalize to a CauseMos compliant format

In [8]:
mix.process('chirps-v2.0.2021.01.3.tif','mapper.json','admin2','example_output')

  country state     lng admin2 admin1     lat   timestamp     value   feature  \
0     NaN   NaN -79.525    NaN    NaN  23.475  1609480800  2.136781  rainfall
1     NaN   NaN -79.475    NaN    NaN  23.475  1609480800  1.977196  rainfall
2     NaN   NaN -76.125    NaN    NaN  23.475  1609480800  1.031077  rainfall
3     NaN   NaN -76.075    NaN    NaN  23.475  1609480800  1.336039  rainfall
4     NaN   NaN -76.025    NaN    NaN  23.475  1609480800  1.422843  rainfall

  admin3
0   None
1   None
2   None
3   None
4   None

In [9]:
df = pd.read_parquet('example_output.parquet.gzip')

In [10]:
df.tail()

,timestamp,country,admin1,admin2,admin3,lat,lng,feature,value
70737,1609480800,Guyana,East Berbice-Corentyne,Black Bush Polder land Development Scheme,None,6.025,-57.274999,rainfall,73.374107
70738,1609480800,Guyana,East Berbice-Corentyne,Corentyne River,None,6.025,-57.224999,rainfall,75.888969
70739,1609480800,Guyana,East Berbice-Corentyne,No.74 Village / No.52 Village,None,6.025,-57.174999,rainfall,74.806396
70740,1609480800,None,None,None,None,6.025,-57.124999,rainfall,64.794189
70741,1609480800,None,None,None,None,6.025,-57.024999,rainfall,67.061554